USE [master]
GO
/****** Object:  Database [Pharma-QMS-OLTP]    Script Date: 2/16/2026 7:59:41 AM ******/
CREATE DATABASE [Pharma-QMS-OLTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pharma-QMS-OLTP', FILENAME = N'D:\database\Pharma-QMS-OLTP.mdf' , SIZE = 1048576KB , MAXSIZE = UNLIMITED, FILEGROWTH = 262144KB )
 LOG ON 
( NAME = N'Pharma-QMS-OLTP_log', FILENAME = N'D:\database\Pharma-QMS-OLTP_log.ldf' , SIZE = 524288KB , MAXSIZE = 2048GB , FILEGROWTH = 131072KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [Pharma-QMS-OLTP] ADD FILEGROUP [SECONDARY_FG]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pharma-QMS-OLTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pharma-QMS-OLTP]
GO
/****** Object:  Schema [AuditShadow]    Script Date: 2/16/2026 7:59:41 AM ******/
CREATE SCHEMA [AuditShadow]
GO
/****** Object:  Schema [Maintenance]    Script Date: 2/16/2026 7:59:41 AM ******/
CREATE SCHEMA [Maintenance]
GO
/****** Object:  Schema [Production]    Script Date: 2/16/2026 7:59:41 AM ******/
CREATE SCHEMA [Production]
GO
/****** Object:  Schema [Quality]    Script Date: 2/16/2026 7:59:41 AM ******/
CREATE SCHEMA [Quality]
GO
/****** Object:  Schema [Security]    Script Date: 2/16/2026 7:59:41 AM ******/
CREATE SCHEMA [Security]
GO
/****** Object:  Table [AuditShadow].[Batch_Audit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditShadow].[Batch_Audit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[BId] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[Code] [nvarchar](500) NULL,
	[BatchType] [nvarchar](50) NULL,
	[ProductId] [int] NULL,
	[ProductionShiftId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[AuditAction] [nvarchar](10) NULL,
	[AuditDate] [datetime2](7) NULL,
	[AuditUser] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuditShadow].[CAPA_Audit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditShadow].[CAPA_Audit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[CAPAID] [int] NULL,
	[CapaNumber] [nvarchar](30) NULL,
	[CapaDate] [date] NULL,
	[Description] [nvarchar](500) NULL,
	[RootCause] [nvarchar](250) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[AuditAction] [nvarchar](10) NULL,
	[AuditDate] [datetime] NULL,
	[AuditUser] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuditShadow].[NonConformance_Audit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditShadow].[NonConformance_Audit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[NcId] [int] NULL,
	[AuditIdRef] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Criticality] [nvarchar](500) NULL,
	[Finding] [nvarchar](500) NULL,
	[Attachment] [varbinary](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[AuditAction] [nvarchar](10) NULL,
	[AuditDate] [datetime2](7) NULL,
	[AuditUser] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [AuditShadow].[PreventiveMaintenance_Audit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditShadow].[PreventiveMaintenance_Audit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[PmId] [int] NULL,
	[EquipmentId] [int] NULL,
	[LastPmDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[AuditAction] [nvarchar](10) NULL,
	[AuditDate] [datetime2](7) NULL,
	[AuditUser] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuditShadow].[ProductionShift_Audit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditShadow].[ProductionShift_Audit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[PsId] [int] NULL,
	[ShiftDate] [date] NULL,
	[ShiftTime] [nvarchar](50) NULL,
	[TotalOutput] [int] NULL,
	[TotalDefect] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[AuditAction] [nvarchar](10) NULL,
	[AuditDate] [datetime2](7) NULL,
	[AuditUser] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AuditShadow].[QualityAudit_Audit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AuditShadow].[QualityAudit_Audit](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[AId] [int] NULL,
	[AuditDateOriginal] [date] NULL,
	[AuditCode] [nvarchar](50) NULL,
	[Finding] [nvarchar](220) NULL,
	[ProductionShiftId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
	[AuditAction] [nvarchar](10) NULL,
	[AuditDate] [datetime2](7) NULL,
	[AuditUser] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Maintenance].[PreventiveMaintenance]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Maintenance].[PreventiveMaintenance](
	[PmId] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[LastPmDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_PreventiveMaintenance] PRIMARY KEY CLUSTERED 
(
	[PmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[Batch]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Batch](
	[BId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Code] [nvarchar](500) NULL,
	[BatchType] [nvarchar](50) NULL,
	[ProductId] [int] NULL,
	[ProductionShiftId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Batch] PRIMARY KEY CLUSTERED 
(
	[BId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[Equipment]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Equipment](
	[EId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Criticality] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[EId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[Product]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[Product](
	[PId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Type] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Production].[ProductionShift]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Production].[ProductionShift](
	[PsId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftDate] [date] NOT NULL,
	[ShiftTime] [nvarchar](50) NULL,
	[TotalOutput] [int] NULL,
	[TotalDefect] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_ProductionShift] PRIMARY KEY CLUSTERED 
(
	[PsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[Audit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[Audit](
	[AId] [int] IDENTITY(1,1) NOT NULL,
	[AuditDate] [date] NULL,
	[AuditCode] [nvarchar](50) NULL,
	[Finding] [nvarchar](220) NULL,
	[ProductionShiftId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Audit] PRIMARY KEY CLUSTERED 
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[Calibration]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[Calibration](
	[CId] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NULL,
	[IntervalDays] [int] NULL,
	[LastCalibrationDate] [date] NULL,
	[Result] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Calibration] PRIMARY KEY CLUSTERED 
(
	[CId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[CAPA]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[CAPA](
	[CAPAID] [int] IDENTITY(1,1) NOT NULL,
	[CapaNumber] [nvarchar](30) NULL,
	[CapaDate] [date] NULL,
	[Description] [nvarchar](500) NULL,
	[RootCause] [nvarchar](250) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_CAPA] PRIMARY KEY CLUSTERED 
(
	[CAPAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CAPA] UNIQUE NONCLUSTERED 
(
	[CAPAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[Inspection]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[Inspection](
	[InID] [int] IDENTITY(1,1) NOT NULL,
	[InspectionDate] [date] NULL,
	[InspectedQty] [int] NULL,
	[AcceptedQty] [int] NULL,
	[RejectedQty] [int] NULL,
	[ProductionShiftId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Inspection_1] PRIMARY KEY CLUSTERED 
(
	[InID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Quality].[NonConformance]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quality].[NonConformance](
	[NcId] [int] IDENTITY(1,1) NOT NULL,
	[AuditId] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Criticality] [nvarchar](500) NULL,
	[Finding] [nvarchar](500) NULL,
	[Attachment] [varbinary](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_NonConformance] PRIMARY KEY CLUSTERED 
(
	[NcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Security].[User]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[User](
	[UId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [AuditShadow].[Batch_Audit] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [AuditShadow].[CAPA_Audit] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [AuditShadow].[NonConformance_Audit] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [AuditShadow].[PreventiveMaintenance_Audit] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [AuditShadow].[ProductionShift_Audit] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [AuditShadow].[QualityAudit_Audit] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance] ADD  CONSTRAINT [DF_PreventiveMaintenance_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance] ADD  CONSTRAINT [DF_PreventiveMaintenance_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Production].[Batch] ADD  CONSTRAINT [DF_Batch_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[Batch] ADD  CONSTRAINT [DF_Batch_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Production].[Equipment] ADD  CONSTRAINT [DF_Equipment_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[Equipment] ADD  CONSTRAINT [DF_Equipment_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Production].[Product] ADD  CONSTRAINT [DF_Product_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[Product] ADD  CONSTRAINT [DF_Product_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Production].[ProductionShift] ADD  CONSTRAINT [DF_ProductionShift_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Production].[ProductionShift] ADD  CONSTRAINT [DF_ProductionShift_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Quality].[Audit] ADD  CONSTRAINT [DF_Audit_AuditDate]  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [Quality].[Audit] ADD  CONSTRAINT [DF_Audit_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Quality].[Audit] ADD  CONSTRAINT [DF_Audit_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Quality].[Calibration] ADD  CONSTRAINT [DF_Calibration_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Quality].[Calibration] ADD  CONSTRAINT [DF_Calibration_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Quality].[CAPA] ADD  CONSTRAINT [DF_CAPA_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Quality].[CAPA] ADD  CONSTRAINT [DF_CAPA_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Quality].[Inspection] ADD  CONSTRAINT [DF_Inspection_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Quality].[Inspection] ADD  CONSTRAINT [DF_Inspection_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Quality].[NonConformance] ADD  CONSTRAINT [DF_NonConformance_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Quality].[NonConformance] ADD  CONSTRAINT [DF_NonConformance_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Security].[User] ADD  CONSTRAINT [DF_User_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Security].[User] ADD  CONSTRAINT [DF_User_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance]  WITH CHECK ADD  CONSTRAINT [FK_PreventiveMaintenance_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [Production].[Equipment] ([EId])
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance] CHECK CONSTRAINT [FK_PreventiveMaintenance_Equipment]
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance]  WITH CHECK ADD  CONSTRAINT [FK_PreventiveMaintenance_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance] CHECK CONSTRAINT [FK_PreventiveMaintenance_User]
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance]  WITH CHECK ADD  CONSTRAINT [FK_PreventiveMaintenance_User1] FOREIGN KEY([ModifiedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance] CHECK CONSTRAINT [FK_PreventiveMaintenance_User1]
GO
ALTER TABLE [Production].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Batch_ProductShift] FOREIGN KEY([ProductionShiftId])
REFERENCES [Production].[ProductionShift] ([PsId])
GO
ALTER TABLE [Production].[Batch] CHECK CONSTRAINT [FK_Batch_Batch_ProductShift]
GO
ALTER TABLE [Production].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Batch_UserID] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Production].[Batch] CHECK CONSTRAINT [FK_Batch_Batch_UserID]
GO
ALTER TABLE [Production].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Batch_userIdAT] FOREIGN KEY([ModifiedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Production].[Batch] CHECK CONSTRAINT [FK_Batch_Batch_userIdAT]
GO
ALTER TABLE [Production].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Product_ProductID] FOREIGN KEY([ProductId])
REFERENCES [Production].[Product] ([PId])
GO
ALTER TABLE [Production].[Batch] CHECK CONSTRAINT [FK_Batch_Product_ProductID]
GO
ALTER TABLE [Production].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Production].[Equipment] CHECK CONSTRAINT [FK_Equipment_User]
GO
ALTER TABLE [Production].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_User_By] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Production].[Product] CHECK CONSTRAINT [FK_Product_User_By]
GO
ALTER TABLE [Production].[ProductionShift]  WITH CHECK ADD  CONSTRAINT [FK_ProductionShift_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Production].[ProductionShift] CHECK CONSTRAINT [FK_ProductionShift_User]
GO
ALTER TABLE [Quality].[Audit]  WITH CHECK ADD  CONSTRAINT [FK_Audit_ProductionShift] FOREIGN KEY([ProductionShiftId])
REFERENCES [Production].[ProductionShift] ([PsId])
GO
ALTER TABLE [Quality].[Audit] CHECK CONSTRAINT [FK_Audit_ProductionShift]
GO
ALTER TABLE [Quality].[Audit]  WITH CHECK ADD  CONSTRAINT [FK_Audit_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Quality].[Audit] CHECK CONSTRAINT [FK_Audit_User]
GO
ALTER TABLE [Quality].[Calibration]  WITH CHECK ADD  CONSTRAINT [FK_Calibration_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [Production].[Equipment] ([EId])
GO
ALTER TABLE [Quality].[Calibration] CHECK CONSTRAINT [FK_Calibration_Equipment]
GO
ALTER TABLE [Quality].[Calibration]  WITH CHECK ADD  CONSTRAINT [FK_Calibration_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Quality].[Calibration] CHECK CONSTRAINT [FK_Calibration_User]
GO
ALTER TABLE [Quality].[CAPA]  WITH CHECK ADD  CONSTRAINT [FK_CAPA_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Quality].[CAPA] CHECK CONSTRAINT [FK_CAPA_User]
GO
ALTER TABLE [Quality].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_ProductionShift] FOREIGN KEY([ProductionShiftId])
REFERENCES [Production].[ProductionShift] ([PsId])
GO
ALTER TABLE [Quality].[Inspection] CHECK CONSTRAINT [FK_Inspection_ProductionShift]
GO
ALTER TABLE [Quality].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Quality].[Inspection] CHECK CONSTRAINT [FK_Inspection_User]
GO
ALTER TABLE [Quality].[NonConformance]  WITH CHECK ADD  CONSTRAINT [FK_NonConformance_NonConformance] FOREIGN KEY([AuditId])
REFERENCES [Quality].[Audit] ([AId])
GO
ALTER TABLE [Quality].[NonConformance] CHECK CONSTRAINT [FK_NonConformance_NonConformance]
GO
ALTER TABLE [Quality].[NonConformance]  WITH CHECK ADD  CONSTRAINT [FK_NonConformance_User] FOREIGN KEY([CreatedBy])
REFERENCES [Security].[User] ([UId])
GO
ALTER TABLE [Quality].[NonConformance] CHECK CONSTRAINT [FK_NonConformance_User]
GO
ALTER TABLE [Production].[Equipment]  WITH CHECK ADD  CONSTRAINT [CK_Equipment_Criticality] CHECK  (([Criticality]=N'Critical' OR [Criticality]=N'High' OR [Criticality]=N'Medium' OR [Criticality]=N'Low'))
GO
ALTER TABLE [Production].[Equipment] CHECK CONSTRAINT [CK_Equipment_Criticality]
GO
/****** Object:  Trigger [Maintenance].[trg_Audit_PreventiveMaintenance]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Maintenance].[trg_Audit_PreventiveMaintenance]
ON [Maintenance].[PreventiveMaintenance]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT
    INSERT INTO AuditShadow.PreventiveMaintenance_Audit
    SELECT 
        i.PmId,
        i.EquipmentId,
        i.LastPmDate,
        i.Status,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'INSERT',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    WHERE NOT EXISTS (SELECT 1 FROM deleted d WHERE d.PmId = i.PmId);

    -- UPDATE
    INSERT INTO AuditShadow.PreventiveMaintenance_Audit
    SELECT 
        i.PmId,
        i.EquipmentId,
        i.LastPmDate,
        i.Status,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'UPDATE',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    INNER JOIN deleted d ON i.PmId = d.PmId;

    -- DELETE
    INSERT INTO AuditShadow.PreventiveMaintenance_Audit
    SELECT 
        d.PmId,
        d.EquipmentId,
        d.LastPmDate,
        d.Status,
        d.CreatedAt,
        d.CreatedBy,
        d.ModifiedAt,
        d.ModifiedBy,
        'DELETE',
        GETDATE(),
        SUSER_SNAME()
    FROM deleted d
    WHERE NOT EXISTS (SELECT 1 FROM inserted i WHERE i.PmId = d.PmId);

END
GO
ALTER TABLE [Maintenance].[PreventiveMaintenance] ENABLE TRIGGER [trg_Audit_PreventiveMaintenance]
GO
/****** Object:  Trigger [Production].[trg_Audit_Batch]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Production].[trg_Audit_Batch]
ON [Production].[Batch]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT
    INSERT INTO AuditShadow.Batch_Audit
    SELECT 
        i.BId,
        i.Name,
        i.Code,
        i.BatchType,
        i.ProductId,
        i.ProductionShiftId,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'INSERT',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    WHERE NOT EXISTS (SELECT 1 FROM deleted d WHERE d.BId = i.BId);

    -- UPDATE
    INSERT INTO AuditShadow.Batch_Audit
    SELECT 
        i.BId,
        i.Name,
        i.Code,
        i.BatchType,
        i.ProductId,
        i.ProductionShiftId,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'UPDATE',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    INNER JOIN deleted d ON i.BId = d.BId;

    -- DELETE
    INSERT INTO AuditShadow.Batch_Audit
    SELECT 
        d.BId,
        d.Name,
        d.Code,
        d.BatchType,
        d.ProductId,
        d.ProductionShiftId,
        d.CreatedAt,
        d.CreatedBy,
        d.ModifiedAt,
        d.ModifiedBy,
        'DELETE',
        GETDATE(),
        SUSER_SNAME()
    FROM deleted d
    WHERE NOT EXISTS (SELECT 1 FROM inserted i WHERE i.BId = d.BId);

END
GO
ALTER TABLE [Production].[Batch] ENABLE TRIGGER [trg_Audit_Batch]
GO
/****** Object:  Trigger [Production].[trg_UpdateModifiedAt_Equipment]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Production].[trg_UpdateModifiedAt_Equipment]
ON [Production].[Equipment]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Production].[Equipment] t
    INNER JOIN inserted i ON t.EId = i.EId;
END;
GO
ALTER TABLE [Production].[Equipment] ENABLE TRIGGER [trg_UpdateModifiedAt_Equipment]
GO
/****** Object:  Trigger [Production].[trg_UpdateModifiedAt_Product]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Production].[trg_UpdateModifiedAt_Product]
ON [Production].[Product]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Production].[Product] t
    INNER JOIN inserted i ON t.PId = i.PId;
END;
GO
ALTER TABLE [Production].[Product] ENABLE TRIGGER [trg_UpdateModifiedAt_Product]
GO
/****** Object:  Trigger [Production].[trg_Audit_ProductionShift]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Production].[trg_Audit_ProductionShift]
ON [Production].[ProductionShift]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT
    INSERT INTO AuditShadow.ProductionShift_Audit
    SELECT 
        i.PsId,
        i.ShiftDate,
        i.ShiftTime,
        i.TotalOutput,
        i.TotalDefect,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'INSERT',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    WHERE NOT EXISTS (SELECT 1 FROM deleted d WHERE d.PsId = i.PsId);

    -- UPDATE
    INSERT INTO AuditShadow.ProductionShift_Audit
    SELECT 
        i.PsId,
        i.ShiftDate,
        i.ShiftTime,
        i.TotalOutput,
        i.TotalDefect,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'UPDATE',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    INNER JOIN deleted d ON i.PsId = d.PsId;

    -- DELETE
    INSERT INTO AuditShadow.ProductionShift_Audit
    SELECT 
        d.PsId,
        d.ShiftDate,
        d.ShiftTime,
        d.TotalOutput,
        d.TotalDefect,
        d.CreatedAt,
        d.CreatedBy,
        d.ModifiedAt,
        d.ModifiedBy,
        'DELETE',
        GETDATE(),
        SUSER_SNAME()
    FROM deleted d
    WHERE NOT EXISTS (SELECT 1 FROM inserted i WHERE i.PsId = d.PsId);

END
GO
ALTER TABLE [Production].[ProductionShift] ENABLE TRIGGER [trg_Audit_ProductionShift]
GO
/****** Object:  Trigger [Production].[trg_UpdateModifiedAt_ProductionShift]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Production].[trg_UpdateModifiedAt_ProductionShift]
ON [Production].[ProductionShift]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Production].[ProductionShift] t
    INNER JOIN inserted i ON t.PsId = i.PsId;
END;
GO
ALTER TABLE [Production].[ProductionShift] ENABLE TRIGGER [trg_UpdateModifiedAt_ProductionShift]
GO
/****** Object:  Trigger [Quality].[trg_Audit_QualityAudit]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Quality].[trg_Audit_QualityAudit]
ON [Quality].[Audit]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT
    INSERT INTO AuditShadow.QualityAudit_Audit
    SELECT 
        i.AId,
        i.AuditDate,
        i.AuditCode,
        i.Finding,
        i.ProductionShiftId,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'INSERT',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    WHERE NOT EXISTS (SELECT 1 FROM deleted d WHERE d.AId = i.AId);

    -- UPDATE
    INSERT INTO AuditShadow.QualityAudit_Audit
    SELECT 
        i.AId,
        i.AuditDate,
        i.AuditCode,
        i.Finding,
        i.ProductionShiftId,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'UPDATE',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    INNER JOIN deleted d ON i.AId = d.AId;

    -- DELETE
    INSERT INTO AuditShadow.QualityAudit_Audit
    SELECT 
        d.AId,
        d.AuditDate,
        d.AuditCode,
        d.Finding,
        d.ProductionShiftId,
        d.CreatedAt,
        d.CreatedBy,
        d.ModifiedAt,
        d.ModifiedBy,
        'DELETE',
        GETDATE(),
        SUSER_SNAME()
    FROM deleted d
    WHERE NOT EXISTS (SELECT 1 FROM inserted i WHERE i.AId = d.AId);

END
GO
ALTER TABLE [Quality].[Audit] ENABLE TRIGGER [trg_Audit_QualityAudit]
GO
/****** Object:  Trigger [Quality].[trg_UpdateModifiedAt_Calibration]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Quality].[trg_UpdateModifiedAt_Calibration]
ON [Quality].[Calibration]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Quality].[Calibration] t
    INNER JOIN inserted i ON t.CId = i.CId;
END;
GO
ALTER TABLE [Quality].[Calibration] ENABLE TRIGGER [trg_UpdateModifiedAt_Calibration]
GO
/****** Object:  Trigger [Quality].[trg_Audit_CAPA]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Quality].[trg_Audit_CAPA]
ON [Quality].[CAPA]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- INSERT
    INSERT INTO AuditShadow.CAPA_Audit
    SELECT
        i.CAPAID,
        i.CapaNumber,
        i.CapaDate,
        i.Description,
        i.RootCause,
        i.Status,
        i.CreatedAt,
        i.CreatedBy,
        i.ModifiedAt,
        i.ModifiedBy,
        'INSERT',
        GETDATE(),
        SUSER_SNAME()
    FROM inserted i
    WHERE NOT EXISTS (SELECT 1 FROM deleted d WHERE d.CAPAID = i.CAPAID);

    -- UPDATE
    INSERT INTO AuditShadow.CAPA_Audit
    SELECT
        d.CAPAID,
        d.CapaNumber,
        d.CapaDate,
        d.Description,
        d.RootCause,
        d.Status,
        d.CreatedAt,
        d.CreatedBy,
        d.ModifiedAt,
        d.ModifiedBy,
        'UPDATE',
        GETDATE(),
        SUSER_SNAME()
    FROM deleted d
    INNER JOIN inserted i ON d.CAPAID = i.CAPAID;

    -- DELETE
    INSERT INTO AuditShadow.CAPA_Audit
    SELECT
        d.CAPAID,
        d.CapaNumber,
        d.CapaDate,
        d.Description,
        d.RootCause,
        d.Status,
        d.CreatedAt,
        d.CreatedBy,
        d.ModifiedAt,
        d.ModifiedBy,
        'DELETE',
        GETDATE(),
        SUSER_SNAME()
    FROM deleted d
    WHERE NOT EXISTS (SELECT 1 FROM inserted i WHERE i.CAPAID = d.CAPAID);

END;
GO
ALTER TABLE [Quality].[CAPA] ENABLE TRIGGER [trg_Audit_CAPA]
GO
/****** Object:  Trigger [Quality].[trg_UpdateModifiedAt_CAPA]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Quality].[trg_UpdateModifiedAt_CAPA]
ON [Quality].[CAPA]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Quality].[CAPA] t
    INNER JOIN inserted i ON t.CAPAID = i.CAPAID;
END;
GO
ALTER TABLE [Quality].[CAPA] ENABLE TRIGGER [trg_UpdateModifiedAt_CAPA]
GO
/****** Object:  Trigger [Quality].[trg_UpdateModifiedAt_Inspection]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Quality].[trg_UpdateModifiedAt_Inspection]
ON [Quality].[Inspection]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Quality].[Inspection] t
    INNER JOIN inserted i ON t.InID = i.InID;
END;
GO
ALTER TABLE [Quality].[Inspection] ENABLE TRIGGER [trg_UpdateModifiedAt_Inspection]
GO
/****** Object:  Trigger [Quality].[trg_Audit_NonConformance]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Quality].[trg_Audit_NonConformance]
ON [Quality].[NonConformance]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN

    INSERT INTO [AuditShadow].[NonConformance_Audit]
    SELECT d.*, 'UPDATE', GETDATE(), SUSER_SNAME()
    FROM deleted d
    INNER JOIN inserted i ON d.NcId = i.NcId;

    INSERT INTO [AuditShadow].[NonConformance_Audit]
    SELECT i.*, 'INSERT', GETDATE(), SUSER_SNAME()
    FROM inserted i
    WHERE NOT EXISTS (SELECT 1 FROM deleted d WHERE d.NcId = i.NcId);

    INSERT INTO [AuditShadow].[NonConformance_Audit]
    SELECT d.*, 'DELETE', GETDATE(), SUSER_SNAME()
    FROM deleted d
    WHERE NOT EXISTS (SELECT 1 FROM inserted i WHERE i.NcId = d.NcId);

END;
GO
ALTER TABLE [Quality].[NonConformance] ENABLE TRIGGER [trg_Audit_NonConformance]
GO
/****** Object:  Trigger [Quality].[trg_UpdateModifiedAt_NonConformance]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Quality].[trg_UpdateModifiedAt_NonConformance]
ON [Quality].[NonConformance]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Quality].[NonConformance] t
    INNER JOIN inserted i ON t.NcId = i.NcId;
END;
GO
ALTER TABLE [Quality].[NonConformance] ENABLE TRIGGER [trg_UpdateModifiedAt_NonConformance]
GO
/****** Object:  Trigger [Security].[trg_UpdateModifiedAt_User]    Script Date: 2/16/2026 7:59:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Security].[trg_UpdateModifiedAt_User]
ON [Security].[User]
AFTER UPDATE
AS
BEGIN
    UPDATE t
    SET ModifiedAt = GETDATE(),
        ModifiedBy = SUSER_ID()
    FROM [Security].[User] t
    INNER JOIN inserted i ON t.UId = i.UId;
END;
GO
ALTER TABLE [Security].[User] ENABLE TRIGGER [trg_UpdateModifiedAt_User]
GO
USE [master]
GO
